body{
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover
}
h1{
  font-family: 'Gugi',cursive;
  font-weight: 100;
  text-align: justify;
  color: whitesmoke;
  margin-bottom: auto;
  margin-top: 10px;
  padding-bottom: 2px;
  font-size: 48px;
  text-shadow: 2px 2px 5px black;
}
.page-footer{
  background-colour: rgba(255, 0, 0, 0.5);
  width: auto;
}
.overlay{
  background-color: rgb(255, 0, 0);
  margin-left: 35%;
  margin-right: 20%;
  opacity: inherit;
  border-radius: 30px;
}
#get{
  color: whitesmoke;
  text-shadow: 2px 2px 5px black;
  margin-bottom: 10px;
}
h2{
  text-align: center;
  font-weight: lighter;
  color: rgb;
  font-family: fantasy;
}
.form{
  margin-bottom: inherit;
  padding-bottom: 20px;
}
.form-group{
  color: inherit;
  font-weight: 300;
  font-size: 14px;
  font-family: monospace;
}
.form-check-label{
  color: inherit;
}
input[type="radio"]{
  -webkit-transform:scale(2.5);
  transform: scale(1.5);
}
@media only screen and (max-width: 800px){
  .overlay{
    margin-left: 5%;
    margin-right: 5%;
  }
  h1{
    font-size: 40px;
  }
  h2{
    font-size: 32px;
  }
  .card{
    background: rgb(0, 0, 0);
  }
  .card-body{
    color: rgb(0, 0, 0);
  }
}
